@use '@angular/material' as mat;
@import 'src/scss/variables';


mat-toolbar {
  font-size: $body-font-size;
  height: auto;
  background: $white;
  border-bottom: $border;  
  .spacer {
    flex: 1;
  }
  .mat-icon-button {
    background: transparent;
  }
  .logo {
    line-height: 0.5rem;
    img {
      height: 1.5rem;
    }
    
  }
}

