@import 'src/scss/variables';

.cont {
  margin-left: 0.4rem;
}

h2 {
  color: red;
}



.dropdown-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-element {
  background-color: $background-color;
  //   border: solid red 1px;
  margin-left: 7px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background-color: $background-color;
  height: 2.5rem;
  border-radius: 5px;
}

.icon {
  margin-right: 0.5rem;
}
