@import 'src/scss/variables';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  height: 100%;
  flex: 1;
  display: flex;
  border-bottom: $border;

  app-navbar {
    width: 10%;
    max-width: 100px;
    border-right: $border;
  }
}

app-box-container {
  width: 100%;
  margin: 5px;
  padding: 5px;
}
