@use '@angular/material' as mat;
@import 'src/scss/variables';

:host {
  position: relative;
  height: 1rem;
}

input {
  background-color: mat.get-color-from-palette($md-primary-pallette, 500);
  
  border: $border;
  color: $text-color;
}

mat-icon {
  color: $gray;
  position: absolute;
  right: 0;
}

mat-option {
  color: $text-color;
}
