<nav>
    <button mat-icon-button 
        aria-label="requests"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-item">
            <mat-icon>list</mat-icon>
            <span>Requests</span>
        </div>
    </button>
    <button mat-icon-button aria-label="contracts" routerLink="/create" routerLinkActive="active">
        <div class="nav-item">
            <mat-icon>import_contacts</mat-icon>
            <span>Contracts</span>
        </div>
    </button>
    <button mat-icon-button aria-label="settings">
        <div class="nav-item">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </div>
    </button>
</nav>
