@import 'src/scss/variables';

mat-card {
  border-style: solid;
  border-width: 1px;
  border-color: $border;

  margin-left: 1.2rem;
  padding: 0%;
  height: 100%;
  margin-top: 5px;
  border-radius: 5px;
  mat-card-title{
      background-color: #cdd48b;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 1rem;
  }
}
