/* You can add global styles to this file, and also import other style files */
@import './scss/theme';
@import './scss/variables';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.full-width {
  width: 100%;
}

mat-form-field {
  .mat-form-field-wrapper{
    padding-bottom: 0;
  }
  .mat-form-field-underline{
    bottom: 0;
  }
}
