@use '@angular/material' as mat;
$md-primary-pallette: (
  50: #f3f5e3,
  100: #e1e5b9,
  200: #cdd48b,
  300: #b9c25d,
  400: #aab53a,
  500: #9ba817,
  600: #93a014,
  700: #899711,
  800: #7f8d0d,
  900: #6d7d07,
  A100: #f3ffac,
  A200: #ebff79,
  A400: #e4ff46,
  A700: #e0ff2c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$md-accent-pallette: (
  50: #eeeeee,
  100: #d4d4d4,
  200: #b8b8b8,
  300: #9b9b9b,
  400: #858585,
  500: #707070,
  600: #686868,
  700: #5d5d5d,
  800: #535353,
  900: #414141,
  A100: #f5a9a9,
  A200: #f07b7b,
  A400: #ff3a3a,
  A700: #ff2020,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$white: #ffffff;
$border: 1px solid mat.get-color-from-palette($md-accent-pallette, 500);
$typography-config: mat.define-typography-config();
$body-font-size: mat.font-size($typography-config, 'caption');
$padding: $body-font-size;
